h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 140%;
  font-size: 21px;
}


.vkuiGroup--card > .vkuiGroup__inner {
  box-shadow: none;
}

.test-group {
  padding: 0 7vw;
}

.variant {
  line-height: 240%;
}

@media screen and (max-width: 700px) {
  .variant {
    line-height: 180%;
  }
}

.vkuiRadio--android {
   padding: 0;
}

.button-next {
  background-color: #6F5FFE;
  transition: background-color .15s ease-in-out;
  align-items: center;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  line-height: 1;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  will-change: background-color;
  color: #fff;
  padding: 15px 0;
  font-size: 20px;
  margin-top: 8vh;
}

.active:hover {
  background-color: #5b49fd;
}

.disable {
  background-color: rgba(111, 95, 254, 0.57);
  cursor: initial;
}

.vkuiRadio__input:checked~.vkuiRadio__container .vkuiRadio__icon {
  border-color: #6F5FFE;
}

.vkuiRadio__input:checked~.vkuiRadio__container .vkuiRadio__icon::after {
  background-color: #6F5FFE;
}

.vkuiRadio__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5px;
}

/*@media screen and (max-width: 700px) {*/
/*  .vkuiRadio__container {*/
/*    margin-left: -8px;*/
/*  }*/
/*}*/

.vkuiPanelHeader--android .vkuiPanelHeader__content-in {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
}