.direction_text {
    padding: 3vw 4vw;
    border: 2px solid #3939ca;
    border-radius: 20px;
    margin: 3vw 1vw;
    line-height: 1.5;
}

.school-photo {
    height: 200px;
}

.result_poster {
    width: 100%;
    height: 300px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.button-link {
    background-color: #F50106;
    transition: background-color .15s ease-in-out;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    padding: 13px 0;
    font-size: 16px;
    margin: 4vw 12vw 2vw;
    text-decoration: none;
    letter-spacing: .3px;
}

.result_text {
    margin-left: 5vw;
    margin-right: 3vw;
}

.statistics {
    font-weight: 600;
    font-size: 18px;
}


.button-link:hover {
    background-color: #e30206;
}

h3 {
    text-align: center;
    font-size: 24px;
}

.cards-container {
    display: -webkit-flex;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 3vw 0 0;
    gap: 20px;
}

.rec-poster {
    width: 100%;
    image-rendering:-moz-crisp-edges;          /* Firefox        */
    image-rendering:-o-crisp-edges;            /* Opera          */
    image-rendering:-webkit-optimize-contrast; /* Safari         */
    image-rendering:optimize-contrast;         /* CSS3 Proposed  */
    -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}

.button-restart {
    background-color: #6F5FFE;
    transition: background-color .15s ease-in-out;
    align-items: center;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    line-height: 1;
    outline: 0;
    text-align: center;
    white-space: nowrap;
    will-change: background-color;
    color: #fff;
    margin: 70px 12vw 2vw;
    font-size: 16px;
    padding: 13px 0;
}

.button-restart:hover {
    background-color: #5b49fd;
}


@media screen and (max-width: 590px) {

    .statistics {
        font-size: 17px;
    }

    .button-link {
        margin: 5vh 1.7vw 0;
        white-space: normal;
        letter-spacing: .2px;
        font-size: 16px;
    }

    .card-name {
        margin-left: 3vw;
        font-size: 17px;
    }

    .card {
        width: 95%;
    }

    .card-body {
        padding: 4vw;
        line-height: 1.6;
    }

    .cards__another {
        gap: 6vw;
    }

    .card-header {
        padding: 4vw;
    }

    .direction_text {
        padding: 4vw;
    }

    .result_text {
        margin-left: 4vw;
        line-height: 1.5;
    }

    .cards-container {
        margin: 6vw 0 0;
    }


    .footer__text {
        order: 2;
    }

    .footer__logo {
        order: 1;
        width: 100%;
        text-align: center;
        margin: 15px 0 7px;
    }
}

@media screen and (max-width: 376px) {
    .result_poster {
        background-size: cover;
        background-image: url("../img/posters/prog_300х375.png");
    }

    .school-photo {
        height: 180px;
    }
}

@media screen and (max-width: 321px) {
    .school-photo {
        height: 160px;
    }
}

.organization {
    color: #F50106;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

.link_ico {
    position: absolute;
    top: 0;
    left: 47px;
}

footer {
    display: flex;
    background-color: black;
    color: white;
    padding: 4vw 5vw;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 14px;
    gap: 10px;
}

.footer_column {
    line-height: 1.5;
}

.footer_column img {
    height: 20px;
}

.footer_link {
    color: white;
    text-decoration: none;
    transition: color .25s ease-in-out;
}

.footer_link:hover {
    color: #F50106;
}

.slick-next {
     right: -25px;
    display: none !important;
}

.slick-prev {
    display: none !important;
}

@media screen and (min-width: 590px) {
    .slick-next {
        top: 230px;
        right: 41vw;
        z-index: 1000;
        display: block !important;
    }

    .slick-prev:before, .slick-next:before {
        font-family: 'slick';
        font-size: 30px;
        line-height: 1;
        opacity: .75;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .slick-prev {
        top: 230px;
        left: 41vw;
        z-index: 1000;
        display: block !important;
    }
}